body {
	background-image:url(../images/fl-background.png);
	background-size:cover;
	font-family: 'weblysleek_uisemibold';
	background-attachment:fixed;
}

#slides {
	display:none;
}

.slides-container {
	clear:both;
	margin-left:auto;
	margin-right:auto;
	height:562px;
	width:1000px;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow:0 5px 0 #464646;
	-moz-box-shadow:0 5px 0 #464646;
	-webkit-box-shadow:0 5px 0 #464646;
}

.slidesjs-stop, .slidesjs-play {
	display:none !important;
}

.slidesjs-navigation {
	position:relative;
	color:#fff;
	bottom:325px;
	z-index:9999;
	text-shadow:1px 1px 0 rgba(0,0,0,0.50);
	font-size:72px;
	text-decoration:none;
	transition:ease-in-out 0.25s;
	-moz-transition:ease-in-out 0.25s;
	-webkit-transition:ease-in-out 0.25s;
}

.slidesjs-previous {
	left:30px;
}

.slidesjs-next {
	left:890px;
}

.slidesjs-navigation:hover {
	color:#00458C;
}

.fl-header {
	width:100%;
	height:150px;
	background:rgba(25,25,25,0.75);
	overflow:hidden;
}

.fl-header .fl-container {
	text-align:center;
}

.fl-container {
	width:1220px;
	margin-left:auto;
	margin-right:auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'bignoodletitlingregular';
	color:#F4F4F4;
	text-shadow:2px 2px 0 rgba(0,0,0,0.50);
}

p {
	color:#F4F4F4;
	text-shadow:2px 2px 0 rgba(0,0,0,0.50);
}

h1.fl-brand {
	font-size:8em;
	line-height:165px;
}

p.fl-desc {
	font-size:14px;
	color:#fff;
	text-align:center;
	font-style:italic;
	position:relative;
	bottom:78px;
	text-shadow:0 1px 0 rgba(0,0,0,0.50);
}

.fl-utils {
	width:100%;
}

.fl-button-container {
	margin-left:auto;
	margin-right:auto;
	width:1000px;
}

a.fl-button {
	font-family:'bignoodletitlingregular';
	display:block;
	height:50px;
	width:200px;
	text-align:center;
	margin-bottom:10px;
	float:left;
	text-decoration:none;
	color:#f4f4f4;
	line-height:55px;
	font-size:1.6em;
	font-weight:bold;
	text-shadow:2px 2px 0 rgba(0,0,0,0.50);
	transition:ease-in-out 0.25s;
	-moz-transition:ease-in-out 0.25s;
	-webkit-transition:ease-in-out 0.25s;
	background-color:rgba(25, 25, 25, 0.75);
	box-shadow:0 3px 0 #464646;
	-moz-box-shadow:0 3px 0 #464646;
	-webkit-box-shadow:0 3px 0 #464646;
}

a.fl-button:hover {
	background-color:rgba(25, 25, 25, 1);
}

a.fl-button[data-role="blue-underline"]:hover {
	box-shadow:0 3px 0 #00458C;
	-moz-box-shadow:0 3px 0 #00458C;
	-webkit-box-shadow:0 3px 0 #00458C;
}

a.fl-button[data-role="yellow-underline"]:hover {
	box-shadow:0 3px 0 #FEED16;
	-moz-box-shadow:0 3px 0 #FEED16;
	-webkit-box-shadow:0 3px 0 #FEED16;
}

a.fl-button[data-role="green-underline"]:hover {
	box-shadow:0 3px 0 #00AE0D;
	-moz-box-shadow:0 3px 0 #00AE0D;
	-webkit-box-shadow:0 3px 0 #00AE0D;
}

a.fl-button[data-role="red-underline"]:hover {
	box-shadow:0 3px 0 #FF3E43;
	-moz-box-shadow:0 3px 0 #FF3E43;
	-webkit-box-shadow:0 3px 0 #FF3E43;
}

a.fl-button[data-role="purple-underline"]:hover {
	box-shadow:0 3px 0 #844ABF;
	-moz-box-shadow:0 3px 0 #844ABF;
	-webkit-box-shadow:0 3px 0 #844ABF;
}


.fl-content-container {
	width:100%;
	height:300px;
	background-color:rgba(25,25,25,0.75);
}

.fl-content-container .fl-container {
	width:1000px;
}

.fl-content-container .fl-container h2 {
	font-size:48px;
	line-height:100px;
	text-shadow:0 1px 0 rgba(0,0,0,0.50);
}

.fl-content-container .fl-container p {
	font-size:14px;
	text-shadow:0 1px 0 rgba();
	margin-top:-50px;
	margin-bottom:0px;
}

.fl-footer {
	background-color:#1e1e1e;
	text-align:center;
	color:#e1e1e1;
	width:100%;
	height:50px;
	overflow:hidden;
	line-height:50px;
}

.fl-footer p {
	font-size:12px;
	text-shadow:none;
}

.fl-footer a {
	font-size:12px;
	text-shadow:none;
	font-family:'weblysleek_uisemibold';
	text-decoration:underline;
	font-weight:600;
	color:#e1e1e1;
}
